header, footer {
    height: 20%;
    background-color: grey;
}
.main-content {
    height: 60%
}

#homepage{
    height: 100%;
}
#pageone{
    height: 100%;
}
#pagetwo{
    height: 100%;
    text-align: center;
    font-size: 6em;
    background-color: lightgreen;
}