header, footer {
    height: 20%;
    background-color: grey;
}
.main-content {
    height: 60%
}

#homepage{
    height: 100%;
    text-align: center;
    font-size: 6em;
    background-color:lightskyblue ;
}
#pageone{
    height: 100%;
    text-align: center;
    font-size: 6em;
    background-color:lightgreen;
}
#pagetwo{
    height: 100%;
    text-align: center;
    font-size: 6em;
    background-color: lightcoral;
}